:root {
    --bg-primary: #202225;
    --bg-secondary: #2f3136;
    --text-primary: #dcddde;
    --text-secondary: #96989d;
    --accent-primary: #5865f2;
    --accent-hover: #4752c4;
    --border-color: #40444b;
    --error-color: #ed4245;
    --tag-bg: #36393f;
    --hover-bg: #36393f;
    
  }
  